body
{
     --main-color: #4E3301;
     background-color: var(--main-color);
     overflow:hidden;
}

.container-title
{
     display: flex;
     justify-content: center;
     position: relative;

}


/*TITLE*/

h1.title
{
     font-size: 80px;
     font-weight: lighter;
     font-family: 'Reman','Dawning of a New Day','Zeyada', 'Arial', sans-serif ;
     position: absolute;
     margin: 0;
     color: white;
     opacity: 0;
    
     animation-name: title-show;
     animation-delay: 0.5s;
     animation-duration: 1s;
     animation-fill-mode: forwards;
     will-change: opacity;
}

@keyframes title-show
{
     0%   {opacity: 0;}
     40%  {opacity: 0.5;}
     60%  {opacity: 0.8}
     90%  {opacity: 0.5;}
     100% {opacity: 1;}
}


/* COFFEE CUP */

.container-bar
{
     display: flex;
     flex-direction: row;
     align-items: center;
     --height:700px;
     --width:200px;
}

.container-bar .glass
{
     margin-top: 13%;
     width: var(--width);
     border-top: 550px solid #FFE4B0;
     border-left: 75px solid transparent;
     border-right: 75px solid transparent;
     position: relative;
     transform: translateX(1050px) translateY(-1000px);

     will-change: transform;

     animation-play-state: paused;
     animation-duration: 0.8s;
     animation-timing-function: cubic-bezier(0, -0.87, 1, 1.73);
     animation-fill-mode: forwards;
}



@keyframes cup-show-xl
{
     0%   {transform: translateX(1050px) translateY(-1000px);}
     10%  {transform-origin: 50% 100%; transform: translateX(1050px) rotateZ(-5deg);}
     20%  {transform: translateX(1050px) translateY(20px);}
     50%  {transform-origin: 50% 100%; transform: rotateZ(3deg) translateX(1050px);}
     70%  {transform-origin: 50% 100%m; transform: rotateZ(-2deg) translateX(1050px);}
     100% {transform-origin: 50% 100%; transform: rotateZ(0deg) translateX(1050px);}
}

@keyframes cup-show-l
{
     0%   {transform: translateX(1050px) translateY(-1000px) scale(0.9);}
     10%  {transform-origin: 50% 100%; transform: translateX(1050px) rotateZ(-5deg) scale(0.9);}
     20%  {transform: translateX(1050px) translateY(20px) scale(0.9);}
     50%  {transform-origin: 50% 100%; transform: rotateZ(3deg) translateX(1050px) scale(0.9);}
     70%  {transform-origin: 50% 100%; transform: rotateZ(-2deg) translateX(1050px) scale(0.9);}
     100% {transform-origin: 50% 100%; transform: rotateZ(0deg) translateX(1050px) scale(0.9); }
} 

@keyframes cup-show-m
{
     0%   {transform: translateX(1050px) translateY(-1000px) scale(0.8);}
     10%  {transform-origin: 50% 100%; transform: translateX(1050px) rotateZ(-5deg) scale(0.8);}
     20%  {transform: translateX(1050px) translateY(20px) scale(0.8);}
     50%  {transform-origin: 50% 100%; transform: rotateZ(3deg) translateX(1050px) scale(0.8); }
     70%  {transform-origin: 50% 100%; transform: rotateZ(-2deg) translateX(1050px) scale(0.8); }
     100% {transform-origin: 50% 100%; transform: rotateZ(0deg) translateX(1050px) scale(0.8); }
}

@keyframes shake-it-xl
{
     0%   {transform: translateX(800px) translateY(0px) scale(1.1);}
     20%  {transform: translateX(830px) translateY(20px) scale(1.1);}
     40%  {transform: translateX(800px) translateY(0px) scale(1.1);}
     60%  {transform: translateX(830px) translateY(20px) scale(1.1);}
     80%  {transform: translateX(800px) translateY(0px) scale(1.1);}
     100% {transform: translateX(830px) translateY(20px) scale(1);}
}

@keyframes shake-it-l
{
     0%   {transform: translateX(800px) translateY(0px) scale(1);} 
     20%  {transform: translateX(830px) translateY(20px) scale(1);}
     40%  {transform: translateX(800px) translateY(0px) scale(1);}
     60%  {transform: translateX(830px) translateY(20px) scale(1);}
     80%  {transform: translateX(800px) translateY(0px) scale(1);}
     100% {transform: translateX(830px) translateY(20px) scale(0.9);}
}

@keyframes shake-it-m
{
     0%   {transform: translateX(800px) translateY(0px) scale(0.9);}
     20%  {transform: translateX(830px) translateY(20px) scale(0.9);}
     40%  {transform: translateX(800px) translateY(0px) scale(0.9);}
     60%  {transform: translateX(830px) translateY(20px) scale(0.9);}
     80%  {transform: translateX(800px) translateY(0px) scale(0.9);}
     100% {transform: translateX(830px) translateY(20px) scale(0.8);}
}


/* COFFEE CUP HAT */

.container-bar .glass .hat
{
     transform: translateX(0px) translateY(-1000px);
     position: absolute;
     top: -550px;
     left : -70px;
     z-index: 8;
     will-change: transform;

     animation-name: falling-hat;
     animation-duration: 1s;
     animation-delay: 2.5s;
     animation-fill-mode: forwards;
     animation-play-state: paused;
}

@keyframes falling-hat
{
     0%   {transform: translateX(0px) translateY(-1000px);}
     50%  {transform: translateX(0px) translateY(-20px) rotateZ(3deg);}
     70%  {transform: translateX(0px) translateY(-5px) rotateZ(-2deg);}
     70%  {transform: translateX(0px) translateY(0px) rotateZ(2deg);}
     100% {transform: translateX(0px) translateY(0px) rotateZ(0deg);}
}

 .container-bar .hat .part-1
{
     background-color: black;
     height: 20px;
     width: calc(var(--width) * 2);
     transform: translateX(-28px);
     z-index: 8;
}

 .container-bar .hat .part-2
{
     background-color: black;
     height:20px;
     width: calc(var(--width) + 150px);
     transform: translateY(-35px) translateX(-5px);
}

 .container-bar .hat .part-3
{
     background-color: black;
     height: 20px;
     width: calc(var(--width) / 3);
     transform: translateY(-65px) translateX(230px);
}

.container-bar .hat img.steam
{
     position: absolute;
     bottom : 100px;
     left : 245px;
     opacity: 0;
     will-change: opacity;

     animation-name: steam-show;
     animation-play-state: paused;
     animation-delay: 4s;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
}

@keyframes steam-show
{
     0%   {opacity: 0.1;} 
     40%  {opacity: 0.3;}
     60%  {opacity: 0.7;}
     80%  {opacity: 0.5;}
     100% {opacity: 0.2;}
}


/* COFFEE CUP STENCILS */

.glass .stencil
{
     z-index: 5;
}
.container-bar .glass .stencil-1
{
     background-color:  var(--main-color);
     height: 550px;
     width: 200px;
     position: absolute;
     z-index: 5;
     transform: translateY(-528px) translateX(-236px) rotateZ(-7.8deg);
}

.container-bar .glass .stencil-2
{
     background-color:  var(--main-color);
     height: 50px;
     width: 400px;
     position: absolute;
     z-index: 5;
     transform: translateY(0px) translateX(-100px);
    
}

.container-bar .glass .stencil-3
{
     background-color:  var(--main-color);
     height: 550px;
     width: 200px;
     position: absolute;
     z-index: 5;
     transform: translateY(-528px) translateX(235px) rotateZ(7.8deg) ;
}


/* COFFEE CUP STRIP */

.container-bar .glass .strip 
{
     width: calc(var(--width) + 70px);
     position: absolute;
     border-top: 250px solid black;
     border-left: 35px solid transparent;
     border-right: 35px solid transparent;
     display: flex;
     justify-content: center;
     align-items: center;
     transform: translateY(-400px) translateX(1000px);
     z-index: 10;
     will-change: transform;

     animation-name: strip-show;
     animation-delay: 4.5s;
     animation-duration: 1s;
     animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
     animation-fill-mode: forwards;
     animation-play-state: paused;
}

@keyframes strip-show
{
     0%   {transform: translateX(1000px) translateY(-400px);}
     100% {transform: translateX(-70px) translateY(-400px);}
}

.container-bar .glass .strip a
{
     color: white;
     bottom: 65px;
     text-decoration: none;
     position: absolute;
     font-family: 'Reman','Dawning of a New Day','Zeyada', 'Arial', sans-serif ;
     font-size: 70px;
     opacity: 1;
     transform: rotateZ(-18deg);
}


/* COFFEE LIQUID */

.glass .coffee-liquid p
{
     opacity: 0;
     text-align: center;
     color: white;
     font-family: 'Lato', sans-serif;
     font-weight: lighter;
     text-transform: uppercase;
     text-align: center;

}

.glass .coffee-liquid .liquid-1
{
     margin-top: 15%;
     position: absolute;
     width: calc(var(--width) + 150px) ;
     height: 0px;
     background-color: #FFF5E8;
     bottom : -40px;
     transform: translateX(-75px);
     will-change: height ;

     animation-play-state: paused;
     animation-duration: 5s;
     animation-timing-function: cubic-bezier(1, 0, 0,1);
     animation-fill-mode: forwards;
}

.glass .coffee-liquid .liquid-1:hover p
{
     opacity: 1;
     color: black;
}

.glass .coffee-liquid .liquid-2
{
     margin-top: 15%;
     position: absolute;
     width: calc(var(--width) + 150px) ;
     height: 0px;
     background-color: #8E6E44;
     bottom : -40px;
     transform: translateX(-75px);
     will-change: height ;

     animation-play-state: paused;
     animation-duration: 5s;
     animation-timing-function: cubic-bezier(1, 0, 0,1);
     animation-fill-mode: forwards;
}

.glass .coffee-liquid .liquid-2:hover p
{
     opacity: 1;
}

.glass .coffee-liquid .liquid-3
{
     margin-top: 15%;
     position: absolute;
     width: calc(var(--width) + 150px) ;
     height: 0px;
     background-color: #723D09;
     bottom : -40px;
     transform: translateX(-75px);
     will-change: height ;

     animation-play-state: paused;
     animation-duration: 5s;
     animation-timing-function: cubic-bezier(1, 0, 0,1);
     animation-fill-mode: forwards;
}

.glass .coffee-liquid .liquid-3:hover p
{
     opacity: 1;
}

.glass .coffee-liquid .liquid-4
{
     margin-top: 15%;
     position: absolute;
     width: calc(var(--width) + 150px) ;
     height: 0px;
     background-color: #764F0A;
     bottom : -40px;
     transform: translateX(-75px);
     will-change: height ;

     animation-play-state: paused;
     animation-duration: 5s;
     animation-timing-function: cubic-bezier(1, 0, 0,1);
     animation-fill-mode: forwards;
}

.glass .coffee-liquid .liquid-4:hover p
{
     opacity: 1;
}

.glass .coffee-liquid .liquid-5
{
     margin-top: 15%;
     position: absolute;
     width: calc(var(--width) + 150px) ;
     height: 0px;
     background-color: #201500;
     bottom : -40px;
     transform: translateX(-75px);
     will-change: height ;

     animation-play-state: paused;
     animation-duration: 5s;
     animation-timing-function: cubic-bezier(1, 0, 0,1);
     animation-fill-mode: forwards;
}

.glass .coffee-liquid .liquid-5:hover p
{
     opacity: 1;
}


/*KEYFRAMES COFFEE LIQUID */

@keyframes liquid-rase-last-liquid
{
     0%   {height: 10px;}
     50%  {height: 470px;}
     100% {height: 550px;}
}

@keyframes liquid-rase-mix
{
     0%   {height: 10px;}
     50%  {height: 470px;}
     100% {height: 500px;}
}

@keyframes liquid-rase-first-liquid-cappu
{
     0%   {height: 10px;}
     50%  {height: 230px;}
     100% {height: 310px;}
}

@keyframes liquid-rase-second-liquid-cappu
{
     0%   {height: 10px;}
     50%  {height: 230px;}
     100% {height: 470px;}
}

@keyframes liquid-rase-third-liquid-cappu
{
     0%   {height: 10px;}
     50%  {height: 230px;}
     100% {height: 550px;}
}

@keyframes liquid-rase-first-liquid-macchia
{
     0%   {height: 10px;}
     50%  {height: 310px;}
     100% {height: 430px;}
}

@keyframes liquid-rase-second-liquid-macchia
{
     0%   {height: 10px;}
     50%  {height: 310px;}
     100% {height: 550px;}
}

@keyframes liquid-rase-first-liquid-mocha
{
     0%   {height: 10px;}
     50%  {height: 170px;}
     100% {height: 250px;}
}

@keyframes liquid-rase-second-liquid-mocha
{
     0%   {height: 10px;}
     50%  {height: 170px;}
     100% {height: 320px;}
}

@keyframes liquid-rase-third-liquid-mocha
{
     0%   {height: 10px;}
     50%  {height: 370px;}
     100% {height: 480px;}
}

@keyframes liquid-rase-fourth-liquid-mocha
{
     0%   {height: 10px;}
     50%  {height: 370px;}
     100% {height: 550px;}
}


/* INSTRUCTIONS */

.container-column
{
     display: flex;
     flex-direction: column;
     transform: translateX(0px);
     margin-top: 6%;
     will-change: transform;

     animation-name: container-hidding;
     animation-play-state: paused;
     animation-duration: 1s;
     animation-timing-function: cubic-bezier(1, 1, 0, 1.5);
     animation-fill-mode: forwards;
}

@keyframes container-hidding
{
     0%   {transform: translateX(-250px);}
     100% {transform: translateX(-1500px);} 
}

.instruction-1-size h3,
.instruction-2-name h3,
.instruction-3-coffee h3
{
     color: white;
     font-family: 'Lato', sans-serif;
     text-transform: uppercase;
     font-weight: lighter;
     margin-bottom: 10%;
}


/* INSTRUCTION 1 */

.instruction-1-size
{
     display: flex;
     flex-direction: column;
     align-items: center;
     transform: translateX(-1000px);
     will-change: transform;

     animation-name: instruction-1-show;
     animation-delay: 1s;
     animation-duration: 1s;
     animation-timing-function: cubic-bezier(0, 1.46, 1, 1);
     animation-fill-mode: forwards;
}

@keyframes instruction-1-show
{
     0%   {transform: translateX(-1000px);}
     100% {transform: translateX(0px);}
}

.instruction-1-size .size-selector
{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.instruction-1-size .size-selector .size-xl
{
     width: 300px;
     height : 30px;
     background: #FFE4B0;
     border: 1px solid #FFE4B0;
     border-radius: 20px; 
     margin-top: 10%; 
     text-align: center;
     font-family: 'Lato', sans-serif;
     font-size: 20px;
     padding-top: 5px;
     cursor: pointer;
}

.instruction-1-size .size-selector .size-l
{
     width: 200px;
     height : 30px;
     background: #FFE4B0; 
     border: 1px solid #FFE4B0;
     border-radius: 20px;
     margin-top: 10%; 
     text-align: center;
     font-family: 'Lato', sans-serif;
     font-size: 20px;
     padding-top: 5px;
     cursor: pointer;
}

.instruction-1-size .size-selector .size-m
{
     width: 100px;
     height : 30px;
     background: #FFE4B0;
     border: 1px solid #FFE4B0;
     border-radius: 20px; 
     margin-top: 10%;
     margin-bottom: 20%;
     text-align: center;
     font-family: 'Lato', sans-serif;
     font-size: 20px;
     padding-top: 5px;
     cursor: pointer;
}

.instruction-1-size .size-selector .size-xl:hover
{
     color: #FFE4B0;
     background: var(--main-color);
}

.instruction-1-size .size-selector .size-l:hover
{
     color: #FFE4B0;
     background: var(--main-color);
}

.instruction-1-size .size-selector .size-m:hover
{
     color: #FFE4B0;
     background: var(--main-color);
}


/* INSTRUCTION 2*/

.instruction-2-name
{
     display: flex;
     flex-direction: column;
     align-items: center;
     transform: translateX(-1000px);
     will-change: transform;

     animation-name: instruction-2-name;
     animation-play-state: paused;
     animation-duration: 1s;
     animation-timing-function: cubic-bezier(0, 1.46, 1, 1);
     animation-fill-mode: forwards;
}

@keyframes instruction-2-name
{
     0%   {transform: translateX(-1000px);}
     100% {transform: translateX(0px);}
}

.instruction-2-name .write-name
{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.instruction-2-name #name
{
     background: transparent;
     border-radius: 40px;
     border: 1px solid white;
     height: 40px;
     width: 350px;
     color: white;
     padding-left: 15px;
     padding-right: 15px;
     outline: none;
     margin-bottom: 15%;
}

.instruction-2-name .button-name-confirm
{
     border-radius: 30px;
     height: 30px;
     width: 150px;
     border: 1px solid white;
     text-align: center;
     font-family: 'Lato', sans-serif;
     font-size: 15px;
     padding-top: 15px;
     cursor: pointer;
     text-transform: uppercase;
     color: white;
}

.instruction-2-name .button-name-confirm:hover
{
     background: white;
     color: var(--main-color);
}


/* INSTRUCTION 3 */

.instruction-3-coffee
{
     z-index: 6;
     transform: translateX(-1200px);
     margin-top: 9.5%;
     will-change: transform;

     animation-name: instruction-3-coffee;
     animation-play-state: paused;
     animation-duration: 1s;
     animation-timing-function: cubic-bezier(0, 1.46, 1, 1);
     animation-fill-mode: forwards;
}

@keyframes instruction-3-coffee
{
     0%   {transform: translateX(-1200px);}
     100% {transform: translateX(-135px);}
}

.instruction-3-coffee h3
{
     margin-left: 35px;
}


.instruction-3-coffee .caps
{
     width: 400px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     transform: translateX(-20px);
}

.js-cap p{
     color: white;
     font-family: 'Reman','Dawning of a New Day','Zeyada';
     font-size: 30px;
     margin : 10px 0 10px 0;
}

.caps .js-cap
{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 40px;
     margin-right: 60px;
     margin-left : 20px;
}

.caps .cap-4,
.caps .cap-6
{
     margin-left: 35px;
}


.js-cap .cap
{
     display: flex;
     flex-direction: column;
     align-items: center;
     cursor: pointer;
}


/* CAP 1 */

.caps .cap-1
{
     margin-left: 0px;
}

.cap-1 .cap .hat-cap
{
     height: 7px;
     width: 100px;
     border-radius: 7px;
     background: #5D48A4;
     margin-bottom: 5px;
}

.cap-1 .cap .body-cap 
{
     width: 40px;
     border-top: 60px solid #5D48A4;
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
}

.cap-1 .cap .bottom-cap
{
     width: 0; 
     height: 0; 
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     border-top: 7px solid #5D48A4;
}


/* CAP 2 */

.cap-2{
     margin-left: 1px;
}

.cap-2 .cap .hat-cap
{
     height: 7px;
     width: 100px;
     border-radius: 7px;
     background: #C43838;
     margin-bottom: 5px;
}

.cap-2 .cap .body-cap 
{
     width: 40px;
     border-top: 60px solid #C43838;
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
}

.cap-2 .cap .bottom-cap
{
     width: 0; 
     height: 0; 
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     border-top: 7px solid #C43838;
}


/* CAP 3 */

.cap-3 .cap .hat-cap
{
     height: 7px;
     width: 100px;
     border-radius: 7px;
     background: #9CB638;
     margin-bottom: 5px;
}

.cap-3 .cap .body-cap 
{
     width: 40px;
     border-top: 60px solid #9CB638;
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
}

.cap-3 .cap .bottom-cap
{
     width: 0; 
     height: 0; 
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     border-top: 7px solid #9CB638;
}


/* CAP 4 */

.cap-4 .cap .hat-cap
{
     height: 7px;
     width: 100px;
     border-radius: 7px;
     background: #A46B1F;
     margin-bottom: 5px;
}

.cap-4 .cap .body-cap 
{
     width: 40px;
     border-top: 60px solid #A46B1F;
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
}

.cap-4 .cap .bottom-cap
{
     width: 0; 
     height: 0; 
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     border-top: 7px solid #A46B1F;
}


/* CAP 5*/

.cap-5 .cap .hat-cap
{
     height: 7px;
     width: 100px;
     border-radius: 7px;
     background: #225854;
     margin-bottom: 5px;
}

.cap-5 .cap .body-cap 
{
     width: 40px;
     border-top: 60px solid #225854;
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
}

.cap-5 .cap .bottom-cap
{
     width: 0; 
     height: 0; 
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     border-top: 7px solid #225854;
}

/* CAP 6*/

.cap-6 .cap .hat-cap
{
     height: 7px;
     width: 100px;
     border-radius: 7px;
     background: #6C3C76;
     margin-bottom: 5px;
}

.cap-6 .cap .body-cap 
{
     width: 40px;
     border-top: 60px solid #6C3C76;
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
}

.cap-6 .cap .bottom-cap
{
     width: 0; 
     height: 0; 
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     border-top: 7px solid #6C3C76;
}


/* RECAP, SUGAR AND RESART PART */

.container-bar .container-recap-sugar
{
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: 3;
     transform: translateX(-1500px);
     will-change: transform;

     animation-name: sugar-show;
     animation-play-state: paused;
     animation-delay: 5s;
     animation-duration: 1s;
     animation-timing-function: cubic-bezier(0, 1.46, 1, 1);
     animation-fill-mode: forwards;
}

@keyframes sugar-show
{
     0%   {transform: translateX(-1500px);}
     100% {transform: translateX(-40px);}
}

.container-recap
{
     display: flex;
     flex-direction: column;
     align-items: center;
     position: absolute;
     bottom: -75px;
     left: -15px;
     width: 300px;

     animation-name: container-recap-hidding;
     animation-play-state: paused;
     animation-duration: 1s;
     animation-timing-function: cubic-bezier(1, 1, 0, 1.5);
     animation-fill-mode: forwards;
}

@keyframes container-recap-hidding
{
     0%   {transform: translateX(-475px);}
     100% {transform: translateX(-800px);}
}

.js-cap-recap
{
     display: flex;
     flex-direction: column;
     align-items: center;
     transform: translateX(-10px);
     pointer-events: none;
}

.container-bar .container-recap p.tips
{
     color: white;
     font-family: 'Lato', sans-serif;
     font-weight: lighter;
     text-align: center;
}

.container-sugar
{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 25%;
     position: absolute;
     top: 80px;
     left: 20px;

     animation-name: container-sugar-hidding;
     animation-play-state: paused;
     animation-duration: 1s;
     animation-timing-function: cubic-bezier(1, 1, 0, 1.5);
     animation-fill-mode: forwards;
}

@keyframes container-sugar-hidding
{
     0%   {transform: translateX(-475px);}
     100% {transform: translateX(-1500px);}
}

.container-bar .container-recap-sugar h3
{
     color: white;
     font-family: 'Lato', sans-serif;
     text-transform: uppercase;
     font-weight: lighter;
     margin-bottom: 10%;
     margin-right: 25px;
     margin-top: 20%;
     overflow: visible;
}

.container-sugar .container-selection-sugar
{
     display: flex;
     flex-direction: row;
     margin-top: 20px;
}

.container-sugar .container-selection-sugar p
{
     color: lightgray;
     font-family: 'Lato', sans-serif;
     text-transform: uppercase;
     font-weight: lighter;
     margin-left:-20px;
     transform: translateY(10px);
}

.container-sugar .sugar
{
     height: 20px;
     width: 20px;
     border-radius: 50%;
     border: 1px solid white;
     margin-right: 20px;
     cursor: pointer;
}

.container-sugar .sugar:hover
{
     background: white;
}

.color-the-selection
{
     background-color: white;
}

.container-sugar .button-continue
{
     border-radius: 30px;
     height: 30px;
     width: 150px;
     border: 1px solid white;
     text-align: center;
     font-family: 'Lato', sans-serif;
     font-size: 15px;
     margin-top: 20px;
     padding-top: 15px;
     cursor: pointer;
     text-transform: uppercase;
     color: white;
     transform: translateX(-10px);
}

.container-sugar .button-continue:hover
{
     background: white;
     color: var(--main-color);
}


/* End EXPERIENCE */

.container-bar .end-simulation
{
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: 3;
     transform: translateY(1500px) translateX(-670px);
     position: absolute;
     bottom: 200px;
     width: 500px;
     will-change: transform;

     animation-name: end-show;
     animation-play-state: paused;
     animation-delay: 4s;
     animation-duration: 1s;
     animation-timing-function: cubic-bezier(0, 1.46, 1, 1);
     animation-fill-mode: forwards;
}

@keyframes end-show
{
     0%   {transform: translateY(1500px) translateX(-670px);}
     100% {transform: translateY(500px) translateX(-670px);}
}

.container-bar .end-simulation h2
{
     color: white;
     font-family: 'Reman','Dawning of a New Day','Zeyada';
     margin-top: 25%;
     font-size: 40px;
     font-weight: lighter;
     overflow: visible;
}

.container-bar .end-simulation p
{
     color: white;
     font-family: 'Lato', sans-serif;
     font-weight: lighter;
     text-align: center;
}

.container-restart
{
     position: absolute;
     top: 640px;
     left: 550px;
     z-index: 10;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 180px;

}

.music-restart-row
{
     display: flex;
     position: absolute;
     left: 50px;
}

.container-restart .container-music-control
{
     display: flex;
     flex-direction: row;
}

.container-restart .container-music-control img
{
     cursor: pointer;
     position: absolute;
     right : -50px;
}

.container- music-control img.play-music
{
     opacity: 1;
}

.container-music-control img.paused-music
{
     opacity: 0;
}

.container-restart p
{
     color: white;
     font-family: 'Lato', sans-serif;
     font-weight: lighter;
     text-align: center;
     overflow: visible;
     margin-top: 40px;
}